<label>
  <input name="elasticity" type="checkbox" ng-model="list.filter.elasticity" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon elasticity"></span>
</label>

<label>
  <input name="regeneration" type="checkbox" ng-model="list.filter.regeneration" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon regeneration"></span>
</label>

<label>
  <input name="blades" type="checkbox" ng-model="list.filter.blades" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon blades"></span>
</label>

<label>
  <input name="genius" type="checkbox" ng-model="list.filter.genius" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon genius"></span>
</label>

<label>
  <input name="super_strength" type="checkbox" ng-model="list.filter.super_strength" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon super_strength"></span>
</label>

<label>
  <input name="agility" type="checkbox" ng-model="list.filter.agility" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon agility"></span>
</label>

<label>
  <input name="telepathy" type="checkbox" ng-model="list.filter.telepathy" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon telepathy"></span>
</label>

<label>
  <input name="flying" type="checkbox" ng-model="list.filter.flying" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon flying"></span>
</label>

<label>
  <input name="ranged_attack" type="checkbox" ng-model="list.filter.ranged_attack" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon ranged_attack"></span>
</label>

<label>
  <input name="energy_attack" type="checkbox" ng-model="list.filter.energy_attack" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon energy_attack"></span>
</label>

<label>
  <input name="telekinesis" type="checkbox" ng-model="list.filter.telekinesis" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon telekinesis"></span>
</label>

<label>
  <input name="magic" type="checkbox" ng-model="list.filter.magic" ng-true-value="true" ng-false-value="false" ng-change="list.filterCards()"></input>
  <span class="icon magic"></span>
</label>
