<label>
  <input name="rarity_ur" type="checkbox" value="true" ng-model="list.filter.ultra_rare" ng-change="list.filterCards()">
  <span> Ultra Rara </span>
</label>

<label>
  <input name="rarity_sr" type="checkbox" value="true" ng-model="list.filter.super_rare" ng-change="list.filterCards()">
  <span> Super Rara </span>
</label>

<label>
  <input name="rarity_r" type="checkbox" value="true" ng-model="list.filter.rare" ng-change="list.filterCards()">
  <span> Rara </span>
</label>

<label>
  <input name="rarity_i" type="checkbox" value="true" ng-model="list.filter.incomum" ng-change="list.filterCards()">
  <span> Incomum </span>
</label>

<label>
  <input name="rarity_c" type="checkbox" value="true" ng-model="list.filter.comum" ng-change="list.filterCards()">
  <span> Comum </span>
</label>
