<label>
  <input name="hability" type="checkbox" value="true" ng-model="list.filter.hability" ng-change="list.filterCards()">
  <span> Habilidade </span>
</label>

<label>
  <input name="character" type="checkbox" value="true" ng-model="list.filter.character" ng-change="list.filterCards()">
  <span> Personagem </span>
</label>

<label>
  <input name="support" type="checkbox" value="true" ng-model="list.filter.support" ng-change="list.filterCards()">
  <span> Suporte </span>
</label>

<label>
  <input name="scenario" type="checkbox" value="true" ng-model="list.filter.scenario" ng-change="list.filterCards()">
  <span> Cenario </span>
</label>
