<div class="container">
  <h1> Battle Scenes Database </h1>

  <div class="row">

    <div class="col-md-4">

      <div class="menu">
      </div>

    </div>

    <div class="col-md-8">

      <div class="list">

        <ul class="list-group" ng-controller="ListController as list">

          <li class="list-group-item" ng-repeat="card in list.cards">
            <div>#{{ card.id }} - {{ card.name }}</div>

            <div ng-controller="CardDetailsController as details">
              <a class="details-button" href ng-click="details.toggleDetails()">Detalhes</a>

              <div class="row card-details" ng-show="details.show">

                <div class="col-sm-4 card-image">
                  <img ng-src="assets/{{ card.id }}.png"/>
                </div>

                <div class="col-sm-8 card-info">
                  <p>{{ card.text }}</p>
                  <div class="well">{{ card.hability }}</div>
                </div>

              </div>

            </div>
          </li>

        </ul>

      </div>

    </div>
</div>
