<!DOCTYPE html>
<html ng-app="cardDatabase">
<head> 
  <title>Battlescenesdb</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
  <%= javascript_include_tag "card_database" %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
